html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

body {
  background: -webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px; background-color:#282828; background-size:16px 16px;
  background-attachment:fixed;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
* {
box-sizing: border-box
}
@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

.spinning {
	-webkit-animation-name:	rotate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}


a:link, a:visited {
  color: rgb(51,91,127);
}


a:hover {
  color: white;
	text-decoration: underline;
}

.vcard {
  background-color: rgb(123, 63, 0);
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 8px;
	overflow: auto;
}

.vcard:nth-child(odd) { 
  background-color: rgb(0, 109, 79);
}

.vcard:hover {
	background-color: rgb(127, 127, 0);
}

.adr .org {
  font-weight:bold;
}

.credits, .main, .toolbar, .vcard, .results, .error, .vcard *, .topnav, .topnav * {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  box-sizing: border-box;
}

.results, .topnav {
  width: 640px;
}

.title.fake {
  opacity: 0.0;
}

.title {
  background: rgb(57,37,102);
  font-size: 300%;
  color: white;
  padding: 12px;
  display: block;
  width: 640px;
  box-sizing: border-box;
}

.title.real {
  top: 0;
  position: fixed;
}

.toolbar a {
  text-decoration: none;
  color: #ccc;
}

.toolbar a:hover {
  color: white;
}


.toolbar, .distance {
  background: rgba(12,12,12,.5);
  float: right;
	clear: right;
  text-align: right;
  overflow: hidden; 
  vertical-align: bottom;
}

.toolbar {
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
  font-size: 300%;
  top: 0;
  right: 0;
	position: fixed;
  z-index: 666;
	height: 1.1em;
  border-bottom-right-radius: 0px;
}

.vcard, .init, .error, .toolbar, .credits, .title {
  border-radius: 12px;
}

.toolbar, .title, {
  z-index: 666;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.distance {
  padding: 4px;
  border-radius: 4px;
  cursor: help;
}
.distance.km {
  display: none;
}

.vrule {
  display: inline-block;
  vertical-align: baseline;
  border-left: 4px dotted #ccc;
  color: white;
  margin-left: 0.25em;
  width: 1px !important;
  height: 1.5ex;
  overflow: hidden;
  opacity: .9;
}

.error {
  display: none;
  background: red;
}

.init {
  display: block;
  background: purple;
  margin-top: 2.5em; 
}

.init, .error {
  margin: auto;
  font-size: 200%;
  color: white;
  width: 640px;
  padding: 16px;
}

.choice {
	font-size: larger;
	background-color: rgb(89, 44, 79);
	display: table;
	text-align:justify;
	border-collapse: separate;
	border-spacing: 4px;
	border-radius: 4px;
	margin: 4px;
  width: 632px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.distance {
	text-align:right;
}

.choice > *, .directions > * {
	display: table-cell;
	height: 100%;
	border-radius: 4px;
	padding: 12px;
	white-space: nowrap;
	text-align: center;
	border: 4px solid rgba(0,0,0,0.0);
	background: rgba(20,20,20,.5);
}
.directions > * {
	background: rgb(50,50,50);
}
.directions {
	padding: 0; 
	border-collapse: separate;
	border-spacing: 4px;
	border-radius: 4px;
	float:right;
}

.choice > div:hover {
	border: 4px solid rgba(55,55,99,1);
}

.choice > div.selected {
	background: rgba(127,127,10,.9);
}
.highlight {
	background: #59C;
}

.choice > label {
	background: none;
	font-style: italic;
	font-weight: 85%;
	padding-right: 24px;
}
.directions > *, .directions > *:hover {
	text-decoration: none !important;
	padding: 2px;
	border: 0;
}

.dismiss {
	text-decoration: none;
	position:absolute;
	color: white !important;
	bottom: 8px;
	right: 8px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	background: blue;
	border-radius: 4px;
}

.choice > div, .title {
	cursor: pointer;
}

.credits {
  background-color: rgb(39, 29, 89);
  padding: 16px;
}
.credits li, .credits ul {
  display: inline;
}
.credits li:last-child:before {
	content: " & ";
}
.credits li:last-child:after {
	content: ".";
}

.curtain {
	display: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
  .no-mobile, .no-mobile * {
    display: none !important;
  }
  .toolbar {
    font-size: 300%;
  }
  .error {
		font-size: 80%;
  }
  .main, .main .results, .title, .topnav, .topnav .choice, .error {
    width: 320px;
  }
  .topnav .choice, .topnav {
		width: 100%;
		font-size: smaller;
	}
	.choice div {
		padding: 4px;
	}
  .title.real {
    position: inherit;
  }
  .title.fake {
    display: none;
  }
  .title {
		font-size: 120%;
  }
}

/* EMOJIS */

.emoji .walk:before { content: "🏃";}
.emoji .bike:before { content: "🚲";} 
.emoji .transit:before { content: "🚌";}
.emoji .drive:before { content: "🚗";}
.emoji .directions {
	font-size: 200%;
}
.emoji .directions > * > span {
	display: none;
}
.emoji .directions a {
}
.emoji .directions a.highlight {
}
.emoji .directions a:hover {
	background: lime;
}
